*, html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #151515;
}

h1 {
    text-align: center;
    margin: 15px;
    color: #fafafa;
    font-size: 3.2em;
}

main{
    background-color: #151515;
    
    height: 80vh;
    width: 100%;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.container-card{
    display: flex;
    flex-direction: column;

    height: 530px;
    max-width: 100%;

    margin: 30px;
}

.container-card h2{
    text-align: center;
    text-transform: capitalize;
    font-size: 2.3em;
    color: #fafafa;
    
    margin: 10px;
}

.card{
    border: 4px solid #0d0d0d;
    border-radius: 25px;

    margin: auto;
    padding: 18px 0;
    height: 400px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.container-result{
    height: 100px;
    width: 400px;
    margin: 20px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.container-result h3{
    font-size: 2.40em;
    color: #fafafa;
}

label{
    font-size: 1.4em;
    margin: 15px 0;

    color: #fafafa;
}

input{
    margin: 12px 0;
    padding: 16px;
    width: 340px;
    height: 40px;
    font-size: 1.03em;

    border-radius: 12px;
    border: .1em solid #fafafa;
    background-color: #0d0d0d;
    color: #fafafa;
}

input:focus{
    outline: none;
    border: .13em solid #fafafa;
}

.container-buttons{
    width: 330px;

    display: flex;
    justify-content: space-between;
}

button{
    width: 135px;
    height: 50px;
    margin: 5px;

    font-size: 1.0em;
    font-weight: 600;

    background-color: transparent;
    box-shadow: 0 0 1em #000;
    border: .12em solid #000;
    border-radius: 12px;

    cursor: pointer;
}

button:hover{box-shadow: none;}

#button-convert{
    background-color: #1e80f0;
    color: #000;
}
#button-convert:hover{
    background-color: transparent;
    color: #1e80f0;
    border-color: #1e80f0;
}

#button-clear{
    background-color: transparent;
    color: red;
    border-color: red;
}
#button-clear:hover{
    background-color: red;
    color: #000;
}